@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,700');

html {
  height: auto;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #505962;
}

h1 {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
}

.navbar-brand img {
  height: 50px;
}

/*Footer*/
footer {
  background-color: #40474e;
  background-size: cover;
  color: white;
}

footer .row {
  padding: 1.5rem 0 4rem;
  line-height: 2rem;
}

footer img {
  margin: 1.5rem 0;
  height: 150px;
}

footer h3 {
  margin: 1.5rem 0;
}
/*Fin Footer*/

/*Colores*/
.webcolor {
  background-color: #9A4F4F;
}

.titlecolor {
  color: #9A4F4F;
}

.white {
  color: #FFFFFF;
}

.bg-white {
  background-color: #FFFFFF;
}
/*Fin Colores*/

/*Utilidades*/
.mb0 {
  margin-bottom: 0;
}

.separador {
  border: 1px solid #e9ecef;
}
/*Fin utilidades*/

/*Carrusel*/
.projects-container {
  background-color: #e9ecef;
}

#projects-carousel {
  max-width: 50%;
  margin: 0 auto;
  padding: 4rem 0rem;
  background-color: #e9ecef;
}

.carousel-inner {
  text-align: center;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-control-prev-icon {
  background-image: url("wp.png");
}
/*Fin Carrusel*/

.feature img {
  padding: 1.5rem;
}

#features img {
  height: 200px;
}

#languages-and-technologies img {
  height: 120px;
}

.personal-projects .btn:hover,
footer .btn:hover {
  background-color: #FFFFFF;
  transition: ease 1s;
  border: 1px solid #000000;
}

@media (max-width: 1086px) {
  .nav-item {
    text-align: center;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .carousel {
    margin-top: 3em;
  }

  .nav-link:hover {
    color: #000000 !important;
    transition: ease 1s;
  }

  .nav-item:hover {
    background-color: #FFFFFF;
    transition: ease 2s;
  }
}

@media (max-width: 480px) {
  [class*="col-"] {
    padding: 1rem 2rem;
  }

  #projects-carousel {
    max-width: 100%;
    padding: 2rem;
  }

  #projects-carousel p {
    text-align: left;
  }
}

@media (max-width: 375px) {
  #features img {
    height: 180px;
  }
}

